extends layout

block content
  h1 Timesheet   
  table(class='table table-bordered table-striped mt', id='users')
  input(class='small', id='commit', type='hidden', value='Commit')
  p
  a(href='/logout') Logout