doctype 5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
    script(type="text/javascript")
      var week_number = #{current_week};
      var model =!{JSON.stringify(model)};
    script(type="text/javascript", src="/javascripts/jquery.1.7.2.js")
    script(type="text/javascript", src="/javascripts/bootstrap/bootstrap.js")
    script(type="text/javascript", src="/javascripts/week_ui_adapter.js")
    script(type="text/javascript", src="/javascripts/week_controller.js")
     
  body
    block content