doctype 5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(src="/javascripts/bootstrap/bootstrap.js")
    script(src="/javascripts/week_ui_adapter.js")
    script(src="/javascripts/week_controller.js")
     
  body(onload='on_load(#{current_week}, #{model})')
    block content