!!! 5
html
  title Timesheet logn
  link(rel="stylesheet", href="/stylesheets/login.css")
  body
    div(id='layout')
      form(method='post', action='/login')
        div(class='title')
          h1 Timesheet login form
        div(class='form_item')
          label User:
          input(name='username', value='', type='text', autofocus)
        div(class='form_item')
          label Password:
          input(name='password', value='', type='password')
        div(class='buttons')
          input(type='submit', name='command', value='login')
        div(class='bottom')
          div(class='title') If you do not know your password, enter name field and press this  
            input(type='submit', name='command', value='link')
            , password will be sent on your mail.


