!!! 5
html
  head
    title Timesheet logn
    script(type="text/javascript", src="/javascripts/jquery.1.7.2.js")
    script(type="text/javascript", src="/javascripts/bootstrap/bootstrap.js")
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/login.css')
  body
    div(class="well well-large", style="max-width: 600px; margin: 100px auto 10px; box-shadow: 0px 0px 10px rgba(0,0,0,0.25)")
      h2 Timesheet login
      form(class='form-horizontal', method='post', action='/login')
        div(class="control-group")
          label(class="control-label", for="user") User:
          div(class="controls")
            input(name='username', type="text", id="user", placeholder="user", autofocus)
        div(class="control-group")
          label(class="control-label", for="password") Password:
          div(class="controls")
            input(name='password', type="password", id="password", placeholder="password")
        div(class="control-group")
          div(class="controls")
            label(class="checkbox")
              input(name='remember', type="checkbox", value='1')
              t Remember Me
            button(type="submit", class="btn") Sign in
      div(class="accordion", id="accordion2")
        div(class="accordion-group")
          div(class="accordion-heading")
            a(class="accordion-toggle collapsed pull-right", data-toggle="collapse", data-parent="#accordion2", href="#collapseOne") Forget password?
          div(style="height: 0px;",id="collapseOne", class="accordion-body collapse")
            div(class="accordion-inner")
              form(class="form-inline", method='post', action='/reset')
                label type your user name, then press "Reset password" button 
                div(class="controls")
                  input(name='username', type="text", placeholder="user name")
                  button(type="submit", class="btn") Reset password
      if(error==1)
        div(class="alert alert-error") Invalid user name or password 
      else if(error==2)
        div(class="alert alert-info") Pasword is sent 
      else if(error==3)
        div(class="alert alert-error") Invalid user name 

