
* {
  margin: 0;
  padding: 0;
}
html {height: 100%;}
* html body {height: 100%;}
body {
  min-height: 100%;
  position: relative;
  
 }

#main {
  padding-bottom: 100px;
  padding: 50px;
}
#footer {
  position: absolute;
  bottom: 0;
  height: 20px;
  width:100%;
  background:#ccc;
}



.left-text {
 text-align: left;
 margin-left: 8px;
}

#submit {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    background: -moz-linear-gradient(
        top,
        #b9c5dd 0%,
        #a4b0cb);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#b9c5dd),
        to(#a4b0cb));

    background: -moz-linear-gradient(
        top,
        #b9c5dd 0%,
        #a4b0cb);
    background: -o-gradient(
        linear, left top, left bottom,
        from(#b9c5dd),
        to(#a4b0cb));

    background: -ms-gradient(
        linear, left top, left bottom,
        from(#b9c5dd),
        to(#a4b0cb));

    background: gradient(
        linear, left top, left bottom,
        from(#b9c5dd),
        to(#a4b0cb));

   border-radius: 5px;
    border: 1px solid #737b8d;
    box-shadow:
        0px 5px 5px rgba(0,0,0,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);

    text-shadow:
        0px 1px 3px rgba(0,0,0,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}

.inputs #submit:hover {
    background: -moz-linear-gradient(
        top,
        #a4b0cb 0%,
        #b9c5dd);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#a4b0cb),
        to(#b9c5dd));

    background: -ms-linear-gradient(
        top,
        #a4b0cb 0%,
        #b9c5dd);
    background: -o-gradient(
        linear, left top, left bottom,
        from(#a4b0cb),
        to(#b9c5dd));
        
    background: gradient(
        linear, left top, left bottom,
        from(#a4b0cb),
        to(#b9c5dd));

        
}
.table-containter{
    border-collapse: collapse;
    border: 1px solid #dddddd;
    width: 90%;
    
}

.table-containter td {
  padding: 0px;
  line-height: 20px;
  text-align: center;
  vertical-align: text-middle;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  width: 50px;
}

.text-inline[type='text'] {
   padding: 4px;
   margin-bottom: 0;
      height: 12px;
    font-size: 10px;
    vertical-align: middle;
}

.span44 {
  width: 140px;
  white-space: nowrap;
}

.mt td {
 padding: 0px;
 line-height: 30px;
 text-align: center;
 vertical-align: middle;
 border-top: 1px solid #dddddd;
}
.ms{
   padding: 0px;
   display: block;
   width: 100%;
   min-height: 20px;
}
.color0{
   background-color: white;
}
.color1{
   background-color: pink;
}
.color2{
   background-color: yellow;
}
.color3{
   background-color: blue;
}
.color4{
   background-color: red;
}
.color5{
   background-color: #8ee5ee;
}

.commit_button {

}

.manual_input {

}